In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns


# Make numpy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [4]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.3.1

In [7]:
url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
column_names = ['iso_code', 'continent', 'location', 'date', 'total_cases',
                'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed',
                'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million',
                'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million',
                'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand',
                'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_per_case', 'positive_rate',
                'tests_units', 'stringency_index', 'population', 'population_densisity', 'median_age',
                'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
                'diabetes_prevalence', 'female_smokers', 'male_smoker', 'handwashing_facilities',
                'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index']

raw_dataset = pd.read_csv(url, names=column_names,
                          na_values='?', comment='\t',
                          sep=',', skipinitialspace=True)

In [8]:
dataset = raw_dataset.copy()
dataset.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smoker,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
52218,NaN,NaN,International,2020-10-20,696,NaN,NaN,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52219,NaN,NaN,International,2020-10-21,696,NaN,NaN,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52220,NaN,NaN,International,2020-10-22,696,NaN,NaN,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52221,NaN,NaN,International,2020-10-23,696,NaN,NaN,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52222,NaN,NaN,International,2020-10-24,696,NaN,NaN,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN